body {
  color: #434455;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
/* Header */
.header .logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.header .logo-dark {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.header-link {
  color: #2e2f42;
}
.header-link:hover {
  color: #404bbf;
}
.address {
  color: #434455;
}
.address:hover {
  color: #404bbf;
}

/* main */
.heropart {
  background-color: #2e2f42;
}
h1 {
  color: #fff;
}
button {
  color: #fff;
  background-color: #4d5ae5;
}
button:hover {
  background-color: #404bbf;
}
.sectionone > .title {
  color: blue;
}
.sectionone > .text {
  color: #434455;
}

/* team */
.ourteam {
  background-color: #f4f4fd;
}
.ourteam > .name {
  color: #2e2f42;
}
.ourteam > .text {
  color: #434455;
}

/* footer */
.logo-white {
  color: #f4f4fd;
}
.footer > .text {
  color: #f4f4fd;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.footer {
  background-color: #2e2f42;
}
